<div class="container">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>

  <br><br>

  <form action="" class="form-group row">

    <div class="form-group col-md-3 text-center">
 
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">

    </div>
    <div class="form-group col-md-3 text-center">

      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">

    </div>

    <div class="form-group col-md-3 text-center">

      <label for="Cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">

    </div>

    <div class="form-group col-md-3 text-center">

      <label for="salario">Salario:</label>
      <input type="text" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
    
    </div>
    
    <div class="col"><button type="submit" class="btn btn-primary mt-2" (click)="agregar()">Enviar</button></div>

  </form>
</div>

<app-empleados-hijo-c *ngFor="let empleado of empleados; let i=index" [empleadoLista]="empleado" [indice]="i"> </app-empleados-hijo-c>


